/* 
###################
  GENERAL
###################
*/

html,
body {
  height: 100%;
}


/* 
###################
  NAVBAR
###################
*/

.main-header,
.main-nav {
  background-color: white;
}

.main-header {
  width: 100%;
}

.navbar-logo-container .navbar-brand {
  font-family: 'Yellowtail', cursive;
  color: #EA7317;
  font-size: 2.2rem;
}

.navbar-logo-container .navbar-brand:hover {
  color: #EA7317;
}

.nav-item {
  margin: 0 15px;
}

.navbar-nav .nav-item .nav-link {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-nav .nav-item .order-btn {
  border: 3px solid #050401;
  border-radius: 500px;
  color: #050401;
  padding: 10px 20px;
  position: relative;
  top: -3px;
}

.navbar-nav .nav-item .order-btn:hover {
  border-color: #EA7317;
  color: #EA7317;
}

.navbar-toggler {
  margin-top: 1rem;
}


/* 
###################
  HERO
###################
*/

.hero-container {
  background: #fff url(../img/orange-leaves.jpg) no-repeat center top;
  background-size: cover;
  height: auto;
  width: auto;
  height: 100vh;
}

.hero-container .hero-jumbo {
  background-color: transparent;
  padding-top: 50vh;
}

.hero-container .hero-jumbo {
  color: white;
}

.hero-container .jumbo-title {
  font-size: 3rem;
}

.hero-container .jumbotron .hero-button {
  border-radius: 500px;
  color: white;
  font-size: 2rem;
}




@media(min-width: )
