/**********************
    GENERAL
**********************/

html,
body {
  height: 100%;
}

html {
  //font-size: 62.5%;
}

body {
  font-family: 'Dosis', sans-serif;
}

h1,
h2,
p {
  color: white;
}


/**********************
    REUSABLE PROPERTIES
**********************/

.benefits,
.mailing-list {
  padding: 100px 0;
}

.main-header,
.card .card-img-top {
  width: 100%;
}


.btn.hero-button,
.card .card-block {
  background-color: #EA7317;
}



/**********************
    NAVBAR
**********************/

.main-header,
.main-nav {
  background-color: #fffaff;
}

.navbar-logo-container .navbar-brand {
  font-family: 'Yellowtail', cursive;
  color: #EA7317;
  font-size: 2.2rem;
}

.navbar-logo-container .navbar-brand:hover {
  color: #EA7317;
}

.nav-item {
  margin: 0 15px;
}

.navbar-nav .nav-item .nav-link {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-nav .nav-item .order-btn {
  border: 3px solid #050401;
  border-radius: 500px;
  color: #050401;
  padding: 10px 20px;
  position: relative;
  top: -3px;
}

.navbar-nav .nav-item .order-btn:hover {
  border-color: #EA7317;
  color: #EA7317;
}

.navbar-toggler {
  margin-top: 1rem;
}


/**********************
    HERO
**********************/

.hero-container {
  background: #fff url(../img/orange-leaves1.jpg) no-repeat center top;
  background-size: cover;
  height: auto;
  width: auto;
  height: 100vh;
}

.hero-container .hero-jumbo {
  background-color: transparent;
  padding-top: 30vh;
}

.hero-container .jumbo-title {
  font-size: 3rem;
}

.hero-container .jumbotron .hero-button {
  border-radius: 500px;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 25px;
}

.hero-container .hero-jumbo .hero-button:hover {
  background-color: #71F79F;
}

/**********************
    BENEFITS
**********************/
.benefits {
  background-color: #fffaff;
}

.benefits h2 {
  color: #EA7317;
}

.benefits .card {
  overflow: hidden;
}

.card-container .box {
  margin-bottom: 15px;
}


/**********************
    MAILING LIST
**********************/

.mailing-list {
  background-image: url("../img/orange-tree.jpg");
  background-size: cover;
  background-position: center;
  padding: 7.5em 0;
}

.mail-col {
  background-color: rgba(0,0,0,0.25);
  border-radius: 5px;
}

.mail-col p {
  font-size: 30px;
}

.mail-col .btn {
  border: none;
  font-size: 20px;
  text-transform: uppercase;
}


/**********************
    TESTIMONIAL
**********************/

.testimonial {
  background-color: #fffaff;
}

.carousel-inner {
  max-width: 800px;
}

.carousel-item {
  
}

.carousel-item h4 {
  display: block;
}

.carousel-item .divider {
  border-bottom: 1px solid #BAB6BA;
}

.carousel-item .inner-tri {
  background-color: #fffaff;
  display: block;
  margin: 0 auto;
  height: 20px;
  width: 20px;
  border: 1px solid #BAB6BA;
  border-width: 1px 1px 0 0;
  transform: rotate(135deg);
  position: relative;
  top: 11px;
}

.carousel-item .media img {
  height: 120px;
}

@media(min-width: 450px) {

/**********************
    HERO
**********************/
  
  .hero-container .hero-jumbo {
    padding-top: 55vh;
  }


}


@media(min-width: 992px) {

  .card-container .box {
    margin-bottom: 0px;

  }

}