/**********************
    GENERAL
**********************/

html,
body {
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
}

h1,
h2,
p {
  color: white;
}


/**********************
    REUSABLE PROPERTIES
**********************/

.main-header,
.card .card-img-top {
  width: 100%;
}


.btn.hero-button,
.card .card-block {
  background-color: #EA7317;
}



/**********************
    NAVBAR
**********************/

.main-header,
.main-nav {
  background-color: white;
}

.navbar-logo-container .navbar-brand {
  font-family: 'Yellowtail', cursive;
  color: #EA7317;
  font-size: 2.2rem;
}

.navbar-logo-container .navbar-brand:hover {
  color: #EA7317;
}

.nav-item {
  margin: 0 15px;
}

.navbar-nav .nav-item .nav-link {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-nav .nav-item .order-btn {
  border: 3px solid #050401;
  border-radius: 500px;
  color: #050401;
  padding: 10px 20px;
  position: relative;
  top: -3px;
}

.navbar-nav .nav-item .order-btn:hover {
  border-color: #EA7317;
  color: #EA7317;
}

.navbar-toggler {
  margin-top: 1rem;
}


/**********************
    HERO
**********************/

.hero-container {
  background: #fff url(../img/orange-leaves1.jpg) no-repeat center top;
  background-size: cover;
  height: auto;
  width: auto;
  height: 100vh;
}

.hero-container .hero-jumbo {
  background-color: transparent;
  padding-top: 30vh;
}

.hero-container .jumbo-title {
  font-size: 3rem;
}

.hero-container .jumbotron .hero-button {
  border-radius: 500px;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 25px;
}

.hero-container .hero-jumbo .hero-button:hover {
  background-color: #71F79F;
}


/**********************
    BENEFITS
**********************/

.mail-col {
  background-color: blue;
}

.mail-col input {
  display: block;
  margin: 0 auto;
  width: 100%;

}



@media(min-width: 450px) {

/**********************
    HERO
**********************/
  
  .hero-container .hero-jumbo {
    padding-top: 55vh;
  }


}
